 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

html {
    -webkit-text-size-adjust: 100%;
}

body {
    background: radial-gradient(rgb(189, 189, 189), rgb(10, 10, 10));
}

#logo img {
    height: 80vh;
    width: 80vw;
    object-fit: scale-down;
    position: absolute;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
}

#rood {
    z-index: 2;
}

#wit {
    z-index: 1;
    transform: translateX(0.3rem);
    transform: translateY(0.4rem);
}
