@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Kiwi Maru", serif;
  background-color: beige;
}

a {
  color: blue;
}

a:visited {
  color: purple;
}

header,
footer,
main {
  width: 70vw;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  /* border: 9px solid palegoldenrod; */
  padding: 1rem;
  background-color: beige;
}

header {
  background-image: url("images/broken.jpg");
  background-size: 100%;
  background-position-y: 65%;
}

main ul {
  margin-left: 2rem;
}

h1,
h2,
h3,
ul,
p {
  margin: 1rem;
    font-family: "Kiwi Maru", serif;
}

main,
footer {
  flex-direction: column;
  padding: 18px;
}

footer ul li {
  list-style: none;
}

#logo img {
  height: 55vh;
  width: 55vw;
  object-fit: scale-down;
  position: absolute;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 100vw;
  position: relative;
}

#rood {
  z-index: 2;
}

#wit {
  z-index: 1;
  transform: translateX(0.3rem);
  transform: translateY(0.4rem);
}

@media only screen and (max-width: 740px) {
  header,
  footer,
  main {
    width: 100vw;
  }

  h1,
  h2,
  p {
    margin: 0.3rem;
  }
}
